.SignInHeader__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../../assets/background.jpg");
  background-size: cover;
  min-height: 40vh;
  background-position: center;
  flex-direction: column;
  color: white;
  border-bottom: 10px solid #222222;
  position: relative;
  font-family: "netflix_sansregular", sans-serif;
}

.SignInHeader__wrapper {
  margin-top: 100px;
  max-width: 950px;
  width: 100%;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SignInHeader__title {
  font-size: 52px;
  width: 100%;
  text-align: center;
  font-family: "netflix_sansmedium", sans-serif;
  line-height: 4rem;
  max-width: 640px;
}

.SignInHeader__promo {
  font-weight: 300;
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.SignInHeader__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.SignInHeader__para {
  font-family: "netflix_sanslight", sans-serif;
  font-size: 18px;
  text-align: center;
}

.SignInHeader__getStarted {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SignInHeader__email {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.SignInHeader__input {
  background: #fff;
  height: 100%;
  color: black;
  width: 100%;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #8c8c8c;
}

.SignInHeader__span {
  position: absolute;
  color: #8c8c8c;
  left: 10px;
}

.SignInHeader__button {
  background: #e50914;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: lighter;
  color: white;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  height: 40px;
  max-width: 150px;
  text-align: center;
  padding: 10px;
  border-radius: 2px;
}

.arrowToRight {
  font-size: 20px;
}

.SignInHeader__button:hover {
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .SignInHeader__text {
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .SignInHeader__title {
    font-size: 28px;
    line-height: 1.1;
    padding: 0 30px;
    font-weight: 400;
  }

  .SignInHeader__promo {
    font-size: 18px;
  }

  .SignInHeader__para {
    text-align: center;
    max-width: 450px;
    padding: 0 10%;
    font-weight: 400;
    font-size: 16px;
  }
}

@media screen and (min-width: 550px) {
  .SignInHeader__text {
    padding: 0 30px;
  }

  .SignInHeader__title {
    font-size: 50px;
    margin-top: 70px;
    line-height: 1;
  }

  .SignInHeader__promo {
    font-size: 26px;
  }

  .SignInHeader__form {
    padding: 0 40px;
  }

  .SignInHeader__para {
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
  }
}

@media screen and (min-width: 950px) {
  .SignInHeader__text {
    max-width: 640px;
  }

  .SignInHeader__getStarted {
    flex-direction: row;
    min-width: 680px;
  }

  .SignInHeader__para {
    padding: 0 2%;
  }

  .SignInHeader__input {
    min-height: 60px;
  }

  .SignInHeader__button {
    min-height: 60px;
    min-width: 240px;
    border-left: 1px solid #222222;
    font-size: 26px;
  }

  .arrowToRight {
    font-size: 30px;
  }
}

@media screen and (min-width: 1450px) {
  .SignInHeader__title {
    font-size: 64px;
  }
} ;
