.Action__container {
  flex: 1;
  width: 100%;
  background: #141414;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  padding-left: 30px;
  margin-top: -150px;
  flex-direction: column;
}
